/target/
**/*.rs.bk
cargo-home/
*.lock
.aurora_manifest.json

.slint-cache/

/production/assets/processed/
/production/icons/processed/
/Logs

Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

*.log
config.json
*.pak
*.ucas
*.utoc
*.disabled
*.md5
*.zip