[Desktop Entry]
Type=Application
Name=Aurora
Comment=Mod manager and launcher
Exec=Aurora %u
Icon=aurora
Terminal=false
Categories=Game;
MimeType=x-scheme-handler/aurora-launcher;
StartupNotify=true
StartupWMClass=aurora
